:root {
    --main-blue: #01364c;
    --second-blue: #011232;
    --highlight: #00425f;
    --main-gray: #1b1d1e;
    --second-gray: #8aa1ad;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-gray);
}

nav {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    background: var(--main-blue);
}

h1, h2, a, p, .project-title {
    color: white;
}

a {
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 1rem;
}

.nav-items {
    height: 100%;
    display: list-item;
}

.nav-items a {
    display: block;
    padding: 1rem 1.5rem;
}

.nav-items a::before, .nav-items a::after {
    color: var(--second-gray);
}

.nav-items a::before {
    content: '< ';
}

.nav-items a::after {
    content: ' />';
}

.nav-items:hover {
    background-color: var(--highlight);
}

.inline {
    display: inline-block;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.projects-gallery, .contact-grid {
    padding-bottom: 2rem;
    grid-template-columns: 33% 33% 33%;
}

.projects-gallery {
    gap: 4rem;
}

.contact-grid {
    gap: 0rem;
}

.center-width {
    max-width: 1000px;
    margin: auto;
}

.full-width, #welcome, #projects, #about, #contact {
    width: 100%;
}

.title, .projects-title {
    font-size: 28px;
}

.project{
    background-color: var(--second-blue);
}

p, .project-title {
    padding: 1rem;
}

.contacts a {
    padding: 0.5rem 1rem;
}

.contacts p {
    padding: 0;
    padding-left: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.project-title, .projects-title {
    text-align: center;
}

.projects-title {
    padding: 2rem;
}

.project-img {
    height: calc(100% - 4rem);
    object-fit: cover;
}

#welcome {
    height: 100vh;
    background: url(Images/Techy_Background.png);
    background-size: 100%;
    justify-content: center;
    flex-direction: column;
}

#projects, #contact {
    background-color: var(--main-blue);
}

#about {
    background-color: var(--main-gray);
}