:root {
    --main-blue: #03658f;
    --second-blue: #011c4f;
    --highlight: #0b91cb;
    --main-gray: #1c282e;
}

*{
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
}

nav {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-blue);
}

h1, a, .project-title{
    color: white;
}

a {
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 1rem;
}

.nav-items {
    height: 100%;
    display: list-item;
}

.nav-items a{
    display: block;
    padding: 1.5rem;
}

.nav-items:hover {
    background-color: #0b91cb;
}

.gallery{
    display: grid;
    gap: 4rem;
    grid-template-columns: auto auto;
}

.title, .gallery{
    max-width: 800px;
    margin: auto;
}

.title, .gallery, #about, #projects, #contact{
    width: 100%;
}

.title, .projects-title{
    font-size: 28px;
}

.project{
    background-color: var(--second-blue);
}

.project-title{
    padding: 1rem;
}

.project-title, .projects-title{
    text-align: center;
}

.projects-title{
    padding: 2rem;
}

.project-img{
    width: 100%;
    height: calc(100% - 4rem);
    object-fit: cover;
}

#welcome{
    height: 100vh;
    background-color: var(--main-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects{
    background-color: var(--main-blue);
}